In [1]:
import pandas as pd

In [2]:
data = ["parth","yash"]
ds = pd.Series(data)
ds

0    parth
1     yash
dtype: object

In [3]:
data = {
    "name":["yash","parmar"],
    "age":[18,29]
}
df = pd.DataFrame(data)

## read csv

In [4]:
df = pd.read_csv("weather.csv")
df

          day  temparature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

## read json

In [5]:
df_json = pd.read_json("data.json")
df_json

   id   name
0   1   yash
1   2  parth

In [6]:
df.head(1)

          day  temparature  windspeed event
0  01-01-2017           32          6  Rain

In [7]:
df.head(2)

          day  temparature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny

In [8]:
df.head(4)

          day  temparature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow

In [9]:
df.tail()

          day  temparature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [10]:
df.dtypes

day            object
temparature     int64
windspeed       int64
event          object
dtype: object

In [11]:
df.columns

Index(['day', 'temparature', 'windspeed', 'event'], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=6, step=1)