In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [6]:
df = pd.read_csv('data.csv')

In [7]:
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [8]:
x = df[['area']]
x

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [9]:
df.area

0    2600
1    3000
2    3200
3    3600
4    4000
Name: area, dtype: int64

In [15]:
reg = linear_model.LinearRegression()
reg.fit(x.values,df.price)

LinearRegression()

In [16]:
reg.predict([[5000]])

array([859554.79452055])

In [18]:
import joblib

In [19]:
joblib.dump(reg,'model')

['model']

In [20]:
mod = joblib.load(model)

NameError: name 'model' is not defined

In [21]:
mod = joblib.load('model')

In [22]:
mod.predict([[5000]])

array([859554.79452055])